{# Aqui se especifica la ubicacion del contenido a heredar #}
{% extends "ProyectoWebApp/base.html" %}

{# aqui cargara el contenido de los diseños en la carpeta static #}
{% load static %}

{# Aqui se cargara el contenido heredado #}
{% block content %}



    {# Contenido que varia aqui #}

    {# Aqui se esta trayendo los datos de la BBDD y la imagen guardada #}
    {% for servicio in servicios %}
        <div>
            <p>
            <h2 style="color: white">{{ servicio.titulo }}</h2>
            <p style="color: white">{{ servicio.contenido }}</p>
            <p>
                <img src="{{ servicio.imagen.url }}">  {# Mostrada la imagen, url agrega la ubicación #}
            </p>
            

            </p>
        </div>

    {% endfor %}



{% endblock %}  {#  Se cierra el cargador del contenido  #}
{#  #}